.mailjet_widget_front_container {
    /*background-color: #5F862F;*/
}

.widget-text{
    
}

.wp_widget_plugin_box{
    
}

.mj_form_property{
    
}

#mailjet_widget_title_wrap{
    
}

#mjForm{
    
}

#mailjet_widget_email{
    
}