/* This stylesheet is used to style the public view of the widget. */
label{
    font-size: 12px;
}

.propertiesInfo{
    font-size: 14px;
}

.mailjet_widget_admin_container {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #00a0d2;*/
}
.mailjet_widget_front_container {
    /*background-color: #5F862F;*/
}

#chooseLangLabelWrap {
    margin: 20px 0 20px 0;
}

#chooseLangLabel {
    font-weight: bold;
    font-size: small;
}

.hidden_default {
    display: none;
}

.language-label{
    font-weight: bold;
    text-decoration: appworkspace;
    margin: 10px;
}

.language-title-label{
    font-weight: 600;
}

.dropdown-list{
    height: 40px!important;
    margin: 8px 0;
}

.title-input{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

.language-wrap{
    padding: 10px;
    border-bottom: 1px solid #898899;
    border-bottom-width: thin;
    border-right: 1px solid #898899;
    border-right-width: thin;
    border-left: 1px solid #898899;
    border-left-width: thin;
}

.language-wrap:first-child{
    border-top: 1px solid #898899;
    border-top-width: thin;
}

#advanced-form-link{
    font-size: 14px!important;
    /*color: #55bfe6;*/
    color: #0073aa;
    text-decoration: underline;
    cursor: pointer;
}

#advanced-form-link:hover{
    color: #00a0d2;
}

#advanced-form-link-info{
    font-weight: bold;
    cursor: pointer;
}

#properties-info{
    font-weight: bold;
    margin: 40px 0 20px 10px;
}

.property{
    clear: left;
    padding: 1%;
    margin-left: 30px
}

.newPropertyFields{
    display: none;
}

.properties-label-header{
    margin-bottom: 10px;

}
.floatLeft{
    float: left;
    margin-left: 1%;
}

.propertyLabel{
    margin: 5px 0;
}

.propertySelect select{
    max-width: 140px;
}

.typeSelect select{
    width: 94px;
    /*margin-left: 10px;*/
}

.languageInput{
    min-width: 8%;
}

.languageInput input{
    width: 100%;
    height: 28px;
}

.deleteProperty{
    width: 15px;
    margin: 3px;
    /*display: none;*/
}

.hiddenProperties{
    /*display: none;*/
}

.hiddenSelectProperties{
    /*display: none;*/
}

.createNewProperties{
    display: none;
}

.newPropertyName{
    width: 30%;
}

.newPropertyName input{
    width: 100%;
    height: 28px;
}

.newPropertyType select{
    width: 100px;
    /*margin-left: 10px;*/
}

.saveNewPropertyButton{
    margin-left: 25px!important;
    font-size: 11px!important;
}

.cancelNewPropertyButton{
    font-size: 11px!important;
    margin-left: -2px!important;
}

.cancelNewPropertyButton {
    color: silver;
}


@media (min-width: 992px) {
    .modal-mailjet-lg {
        width: 1200px!important;
        height: 900px; /* control height here */
    }
}

.customize-mandatory-email{
    font-weight: bold;
/*    font-size: 14px;*/
    margin: 70px 0 10px 10px;
    clear: left;
}

.customize-mandatory-button{
    font-weight: bold;
    /*font-size: 14px;*/
    margin: 70px 0 10px 0px;
    clear: left;
}

#mandatory-wrap{
    clear: left;
    padding: 1%;
}

.mandatoryEmailLabel{
    width: 250px;
    margin-top: 27px;
    margin-right: 60px;
    margin-left: 30px;
}

.mandatoryEmailLanguageInput input {
    width: 100%;
    height: 28px;
}

.mandatoryButtonLanguage{
    width: 250px;
}

.validation_message_row{
    clear: left;
}

.confirmation_email_row{
    clear: left;
}

.validation_messages_labels{
    height: auto!important;
    width: 240px!important;
    border: 0px solid transparent!important;
    margin-left: -12px;
}

.modal-footer{
    margin-top: 120px!important;
}

#mailjet_widget_title h2 {
    font-size: 12px;
}

.input-required{
    color: red;
}

.tab-info{
    margin: 25px 10px 30px;
}

.advanced-form-confirmation-email-content textarea{
    /*height: 80px!important;*/
}

.modal-title{
    font-weight: bold;
}

.modal-header{
    border-bottom: none!important;
}

.redInput{
    border: 1px solid red!important;
}