@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
}

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.admin_page_mailjet_allsetup_page #wpwrap,
.admin_page_mailjet_user_access_page #wpwrap,
.admin_page_mailjet_subscription_options_page #wpwrap,
.admin_page_mailjet_sending_settings_page #wpwrap,
.admin_page_mailjet_connect_account_page #wpwrap,
.admin_page_mailjet_settings_page #wpwrap,
.admin_page_mailjet_initial_contact_lists_page #wpwrap,
.admin_page_mailjet_dashboard_page #wpwrap,
.toplevel_page_mailjet_settings_page  #wpwrap {
    background-color: #F2F2F2;
}

/* Checkbox background change*/
.mailjet_row input[type="checkbox"] {
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    height: 16px;
    width: 16px;
    border: 1px solid #19BC9C;
    border-radius: 3px;
}
.mailjet_row input[type="checkbox"]:checked {
    background: #19BC9C;
    content: "\2714";
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.mailjet_row input[type="checkbox"]:checked:before {
     color: #FFF;
}




.mainContainer {
    min-height: 820px;
    width: 1072px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    /*margin-top: 20px;*/
    padding: 20px;
}

.mailjet_row label {
    font-weight: normal;
}

#initialSettingsSubmit, #initialContactListsSubmit, #create_contact_list_btn, .closeCreateList,  #send_test_email_btn, .cancelTestEmail,
#enableSendingSubmit, #subscriptionOptionsSubmit,  #connectAccountSubmit,  #userAccessSubmit {
    height: 36px;
    /*width: 311px;*/
    background-color: #FEAD0D;
    float: left;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}
#initialSettingsSubmit {
    width: 311px;
}
#initialSettingsHead {
    height: 48px;
    width: 1072px;
    border-radius: 3px 3px 0 0;
    background-color: #23282D;
    margin-top:20px;
    left:0;
    padding:10px;
    padding-top:13px;
 }
#initialSettingsDescription {
    float: left;
    display: inline-block;
    width: 550px;
    margin-left: 50px;
}

.initialSettingsDescriptionContainer {
    display: table;
}
.initialSettingsDescriptionRow {
    display:table-row;
    width:500px;
    border:1px solid  #666666;
}
.initialSettingsImageCell {
    padding-left:2px;
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:100px;
    vertical-align: middle;
}
.initialSettingsTextCell {
    padding: 10px;
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:430px;
    /*margin: 10px auto;*/
    vertical-align: middle;
    font-weight:normal;
    font-size:14px;
}
.initialSettingsTextCell p {
    font-weight:500;
    font-size:16px;
    color: #555555;
}
#initialSettingsForm {
    float: left;
    /*height: 480px;*/
    width: 359px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 10px;
}
#initialSettingsForm input[type="text"] {
    height: 36px;
    width: 311px;
    border: 1px solid #888888;
    border-radius: 3px;
}
#initialContactListsForm input[type="text"] {
    height: 36px;
    width: 311px;
    border: 1px solid #888888;
    border-radius: 3px;
}

.nextBtn {
    background-color: transparent;
    height: 36px;
    border: 1px solid #FEAD0D;
    border-radius: 3px;
    color: #FCB340;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}
.nextBtn:hover {
    background-color: #FEAD0D;
    color: #FFF;
}
.mjSettings {
    min-height: 450px;
    display: flex;
    align-items: stretch;
}
/* Control the left side */
.left {
    float:left;
}

/* Control the right side */
.right {
    float:left;
    height: 100%;
    max-width: 500px;
    /*margin: auto 20px;*/
}

/* If you want the content centered horizontally and vertically */
.centered {
    border-right: solid 1px #C1C1C1;
    text-align: left;
}

.left .centered {
    height:90%;
    border-right: solid 1px #C1C1C1;
}
.right .centered {
    background-color: #ffffff;
    padding:20px;
    border:none;
}

.centered h1 {
    padding: 20px;
}

input[type="submit"].button {
    float: right;
}

.bottom_links {
    margin-top:20px;
}
.bottom_links a, .bottom_links_dashboard a, .bottom_links_allsetup a {
    color: #19BC9C;
    text-decoration: none;
    margin-right:20px;
}
.bottom_links a:hover, .bottom_links_dashboard a:hover, .bottom_links_allsetup a:hover {
    color: #555555;
    text-decoration: none;
}
.needHelpDiv {
    float: left;
    font-weight: bold;
    margin-right: 20px;
}

.centered ul li .settingsMenuLink {
    color: #000000;
    vertical-align: middle;
}
.centered ul li .settingsMenuLink svg {
    vertical-align: middle;
}
.centered ul li .settingsMenuLink a {
    padding: 10px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    color: #555555;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    vertical-align: middle;
}
.centered ul li .settingsMenuLink a:hover, .centered ul li .settingsMenuLink a.active:hover {
    background-color: #F2F2F2;
}
.centered ul li .settingsMenuLink a.active {
    color: #19BC9C;
    background-color: transparent;
    fill: #19BC9C;
}



/* Send test email popup */
.test_email_popup {
    display:none;
    margin: 20px auto;
}
.test_email_popup label {
    display: block;
}
.test_email_popup p, .test_email_popup.div {
    margin: 8px 0;
    padding-bottom: 8px;
}


/* Contacts list display screen */
.availableContactListsContainerParent {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    width:620px;
}
.availableContactListsContainer {
    display: table;
 }
.availableContactListsRow {
    display:table-row;
    width:600px;
    border:1px solid  #C1C1C1;
}
.availableContactListsRow:nth-child(even) {background: #FFF;}
.availableContactListsRow:nth-child(odd) {background: #e5e8e3;}

.availableContactListsNameCell {
    padding: 10px;
    padding-left:2px;
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:400px;
}
.availableContactListsCountCell {
    padding: 10px;
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:200px;
}


/* Create new Contact List popup */
.create_contact_list_popup {
    display:none;
    margin: 20px auto;
}
.create_contact_list_popup label {
    display: block;
}
.create_contact_list_popup p, .create_contact_list_popup.div {
    margin: 8px 0;
    padding-bottom: 8px;
}
#create_contact_list {
    font-weight: 700;
    color: #19BC9C;
    text-decoration: none;
}
#create_contact_list:hover {
    text-decoration: none;
}
.greenLink {
    font-weight: 700;
    color: #19BC9C;
    text-decoration: none;
}
.greenLink:hover {
    text-decoration: none;
}


/* Dashboard */
.dashboard {
    width: 1072px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding:20px;
}
.dashboard .container {
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    float: left;
}

.dashboard .block {
    height: 328px;
    width: 220px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    padding:5px;
    float: left;
}

.dashboard .block img {
    width: 96px;
    height: 96px;
    margin: 10px;
    display: inline-block;
}


.dashboard .block_single {
    min-height: 666px;
    width: 480px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    padding:0px;
    float: left;
}

.dashboard .block_single img {
    width: 448px;
    height: 289px;
    margin: 5px;
    display: inline-block;
}


.bottom_links_dashboard {
    clear: left;
    left: 0;
    padding:10px;
}


/* Allsetup */
.allsetup {
    min-height: 720px;
    width: 1072px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    /*margin-top: 20px;*/
    padding: 20px;
}
.allsetup .container {
    text-align: center;
    max-width: 340px;
    margin: 0 auto;
    float: left;
}

.allsetup .block {
    width: 200px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    border:1px solid #999999;
    background-color:#FFF;
    padding:5px;
}

.allsetup .block img {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: inline-block;
    border: 2px solid #C1C1C1;
}


.allsetup .block_single img {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    border: 2px solid #C1C1C1;
}

.allsetup .block_single {
    width: 300px;
    min-height: 480px;
    /*height: 100%;*/
    margin: 5px;
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding:5px;
}

.bottom_links_allsetup {
    clear: left;
    left: 0;
    padding:10px;
}

.nextBtnReverse, .nextBtnReverseDashboard {
    background-color: #FEAD0D;
    width: 272px;
    height: 36px;
    border: 1px solid #FEAD0D;
    border-radius: 3px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}
.nextBtnReverseDashboard {
    width: 192px;
}
.nextBtnReverse:hover, .nextBtnReverseDashboard:hover {
    background-color: transparent;
    color: #FCB340;
}

.sendTestMeilBtn {
    background-color: transparent;
    width: 100px;
    height: 36px;
    border: 1px solid #FEAD0D;
    border-radius: 3px;
    color: #FCB340;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.sendTestMeilBtn:hover {
    background-color: #FEAD0D;
    color: #FFF;
}

.cancelBtn {
    background-color: #c5c5c5;
    width: 100px;
    height: 36px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}

.cancelBtn:hover {
    background-color: transparent;
    color: #FCB340;
}


.mailjet_sync_options_div{
    margin-left:20px;
}
.mailjet_sync_comment_authors_div{
    margin-left:20px;
}

.page_top_title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 32px;
}
.page_top_subtitle {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
}
.section_title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
}
h4.dont_have_account {
    font-family: Roboto;
    font-size: 14px;
}
.top_descrption_helper {
    font-family: Roboto;
    font-size: 14px;
}

.section_inner_title {
    color: #555555;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}