@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/**
 * Global styles and WP/bootsrap override
 */
body[class*="_page_mailjet_"] {
    font-family: Roboto;
    color: #555;
}
body[class*="_page_mailjet_"] b {
    font-weight: 500;
}
body[class*="_page_mailjet_"] p {
    margin-bottom: 24px;    
}
p {
    max-width: 550px;
    line-height: 20px;
    font-size: 14px;
}
input[type="text"] {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    border: 1px solid #888;
    border-radius: 3px;
    color: inherit;
    box-shadow: none;
}
.form-table {
    margin-top: 0;
}
.form-table td {
    padding: 0;
}
.form-table td p {
    margin-top: 0;
}
body[class*="_page_mailjet_"] label,
.form-table td fieldset label {
    display: block;
    line-height: 20px;
    margin: 0 0 8px !important;
}
.mj-select-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
}
.mj-select-wrapper:before {
    content: attr(data-value);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    padding: 8px 32px 8px 16px;
    border-radius: 3px;
    font-weight: 500;
    color: #555;
    background-color: #f2f2f2;
}
.mj-select-wrapper:after {
    content: '';
    position: absolute;
    right: 16px;
    top: calc(100% / 2);
    z-index: 2;
    display: block;
    width: 0;
    height: 0;
    border-style: solid solid none solid;
    border-width: 5px 4px 0 4px;
    border-color: #555 transparent transparent transparent;
}
.mj-select-wrapper:hover:before {
    background-color: #e5e5e5;
}
.mj-select-wrapper.mj-select-focus:before {
    background-color: #d9d9d9;
}
.mj-select-wrapper select {
    position: relative;
    z-index: 3;
    width: 312px;
    height: 36px;
    opacity: 0;
}

/* Buttons */
body[class*="_page_mailjet_"] .mj-btn { 
    height: 36px;
    line-height: 20px;
    padding: 8px 16px;
    border: 1px solid currentColor;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    box-shadow: none;
}
body[class*="_page_mailjet_"] .mj-btn:hover,
body[class*="_page_mailjet_"] .mj-btn:focus,
body[class*="_page_mailjet_"] .mj-btn:active {
    transform: none;
    outline: 0;
    box-shadow: none;
}
body[class*="_page_mailjet_"] .btnPrimary,
body[class*="_page_mailjet_"] .btnPrimary:hover,
body[class*="_page_mailjet_"] .btnPrimary:focus,
body[class*="_page_mailjet_"] .btnPrimary:active {
    border-color: transparent;
    color: white;
    background-color: #FEAD0D;
}
body[class*="_page_mailjet_"] .btnSecondary {
    color: #FEAD0D;
    border-color: currentColor;
}
body[class*="_page_mailjet_"] .btnSecondary:hover, .btnSecondary:active, .btnSecondary:focus {    
    background-color: rgba(254,173,13,0.1);
}
body[class*="_page_mailjet_"] .btnSmall {
    height: 28px;
    padding: 4px 16px;
}
body[class*="_page_mailjet_"] .btnCancel {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    color: #888;
}
.mj-btn + .mj-btn {
    margin-left: 16px;
}

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.admin_page_mailjet_allsetup_page #wpwrap,
.admin_page_mailjet_user_access_page #wpwrap,
.admin_page_mailjet_subscription_options_page #wpwrap,
.admin_page_mailjet_sending_settings_page #wpwrap,
.admin_page_mailjet_connect_account_page #wpwrap,
.admin_page_mailjet_settings_page #wpwrap,
.admin_page_mailjet_initial_contact_lists_page #wpwrap,
.admin_page_mailjet_dashboard_page #wpwrap,
.toplevel_page_mailjet_settings_page  #wpwrap {
    background-color: #F2F2F2;
}

/* Error messages */
#setting-error-mailjet_message {
    margin-left: 0px;
}

/**  STYLE 11 */

#availableContactListsContainerParent::-webkit-scrollbar {
   width:10px;
}
#availableContactListsContainerParent::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
#availableContactListsContainerParent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
#availableContactListsContainerParent::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
#availableContactListsContainerParent::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

/* Checkbox background change*/
.mailjet_row input[type="checkbox"] {
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    height: 18px;
    width: 18px;
    /*border: 1px solid #19BC9C;*/
    border: 1px solid #888888;
    border-radius: 3px;
    box-shadow: none;
}
.mailjet_row input[type="checkbox"]:checked::before {
    margin: 0px 0 0 -1px;
    font-size: 16px;
}
.mailjet_row input[type="checkbox"]:focus {
    border:1px solid #19BC9C;
    background: #FFFFFF;
    outline:none;
}
.mailjet_row input[type="checkbox"]:checked {
    border: 1px solid #19BC9C;
    background: #33D6B6;
    content: "\2714";
    color: #FFF;
    text-align: center;
}
.mailjet_row input[type="checkbox"]:checked:before {
     color: #FFF;
}


.mainContainer {
    width: 1072px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding: 32px;
}

.mailjet_row label {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.initialSettings {
    display: flex;
}
#initialSettingsForm {
    width: 359px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 24px;
}
#initialSettingsForm .form-table {
    margin-bottom: 8px;
}
#initialSettingsSubmit {
    display: block;
    width: 100%;
}
#initialSettingsForm .dont_have_account {
    margin: 24px 0 0;
}
.closeCreateList,  #send_test_email_btn, .cancelTestEmail,
#enableSendingSubmit, #subscriptionOptionsSubmit,  #connectAccountSubmit,  #userAccessSubmit {
    float: left;
    margin-left:10px;
}
#initialSettingsHead {
    height: 48px;
    width: 1072px;
    border-radius: 3px 3px 0 0;
    background-color: #23282D;
    margin-top:20px;
    left:0;
    padding:10px;
    padding-top:13px;
 }
#initialSettingsDescription {
    width: 550px;
    margin-left: 50px;
}

.initialSettingsDescriptionContainer {
    display: table;
}
.initialSettingsDescriptionRow {
    display: flex;
    max-width: 526px;
    align-items: center;
    margin-bottom: 16px;
}
.initialSettingsDescriptionRow .initialSettingsTextCell {
    margin-bottom: 0;
}
.initialSettingsImageCell {
    width: 96px;
    height: 96px;
    margin-right: 30px;
}
.initialSettingsTextCell b {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}
#initialContactListsForm input[type="text"] {
    height: 36px;
    width: 311px;
    border: 1px solid #888888;
    border-radius: 3px;
}
.mjSettings {
    min-height: 450px;
    display: flex;
    align-items: stretch;
}
.mjSettings .left {
    width: 268px;
    border-right: 1px solid #e5e5e5;
}
.mjSettings .left .centered h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.mjSettings .right .centered h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 90px;
}

.centered h1 {
    padding: 20px;
}

.bottom_links {
    margin-top:20px;
}
.bottom_links a, .bottom_links_dashboard a, .bottom_links_allsetup a {
    color: #19BC9C;
    text-decoration: none;
    margin-right:20px;
}
.bottom_links a:hover, .bottom_links_dashboard a:hover, .bottom_links_allsetup a:hover {
    text-decoration: none;
}
.needHelpDiv {
    float: left;
    font-weight: 500;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
}
.settingsMenuLink a {
    display: flex;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    color: #555;
}
.settingsMenuLink a svg {
    margin-right: 16px;
    fill: currentColor;
}
.settingsMenuLink a.active {
    color: #19BC9C;
}

/* Send test email popup */
.test_email_popup {
    display:none;
    margin: 20px auto;
}
.test_email_popup label {
    display: block;
}
.test_email_popup p, .test_email_popup.div {
    margin: 8px 0;
    padding-bottom: 8px;
}


/* Contacts list display screen */
.availableContactLists {
    margin-bottom: 24px;
}
.availableContactListsContainerParent {
    width: 615px;
    max-height: 476px;
    overflow: auto;
    margin-bottom: 24px;
    border: 1px solid #E5E5E5;
}
.availableContactListsRow {
    display: flex;
    padding: 16px 24px;
}
.availableContactListsRow:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
}
.availableContactListsCountCell {
    width: 200px;
}
.availableContactListsNameCell {
    flex-grow: 1;
}

/* Create new Contact List popup */
.create_contact_list_popup {
    display:none;
    margin-bottom: 24px;
}
.create_contact_list_popup label {
    display: block;
}
.create_contact_list_popup p, .create_contact_list_popup.div {
    margin: 8px 0;
    padding-bottom: 8px;
}
#create_contact_list {
    display: flex;
    line-height: 20px;
    text-decoration: none;
    color: #19BC9C;
    cursor: pointer;
}
#create_contact_list img {
    margin-right: 8px;
}
#create_contact_list:hover {
    text-decoration: none;
}
.create_contact_list_fields {
    margin-bottom: 8px;
}
.create_contact_list_btns {
    display: flex;
}
.greenLink {
    color: #19BC9C;
    text-decoration: none;
}
.greenLink:hover {
    text-decoration: none;
}

.allsetupGreenLinkDiv {
    padding-top: 20px;
    margin-left: 380px;
    clear: left;
}
.allsetupGreenLinkDiv .greenLink {
    font-size: 14px;
    line-height: 20px;
}
#initialContactListsForm .initialContactListsFieldset p {
    margin-bottom: 16px;
}

/* Dashboard */
.dashboard {
    width: 1072px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding:20px;
}
.dashboard .container {
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    float: left;
}

.dashboard .block {
    height: 328px;
    width: 220px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    padding:5px;
    float: left;
    position: relative;
}

.dashboard .block p, .allsetup .block_single p {
    flex-grow: 1;
}

.dashboard .block img {
    width: 96px;
    height: 96px;
    margin: 10px;
    display: inline-block;
}


.dashboard .block_single {
    min-height: 666px;
    width: 480px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    padding:10px;
    float: left;
    text-align: left;
}

.dashboard .block .dashboar_block_title, .dashboard .block_single .dashboar_block_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.dashboard .block_single .dashboar_block_title {
    text-align: left;
    font-size: 20px;
}

.dashboard .block_single img {
    width: 448px;
    height: 289px;
    margin: 0px;
    display: inline-block;
}


.bottom_links_dashboard {
    clear: left;
    left: 0;
    padding:10px;
}

.allsetup_blocks {
    display: flex;
}
.allsetup .block_single img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 24px; 
}
.allsetup .block_single {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    text-align: center;
}
.allsetup .block_single + .block_single {
    margin-left: 24px;
}
.allsetup .block_single .section_inner_title {
    margin-bottom: 16px;
}
.allsetup .block_single .mj-btn {
    display: block;
    width: 100%;
}
.bottom_links_allsetup {
    clear: left;
    left: 0;
    padding:10px;
    font-size: 14px;
}

.nextBtnReverse, .nextBtnReverseDashboard {
    background-color: #FEAD0D;
    width: 272px;
    height: 36px;
    border: 1px solid #FEAD0D;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}
.nextBtnReverseDashboard {
    width: 192px;
    margin:20px 8px;
}
.nextBtnReverse:hover, .nextBtnReverseDashboard:hover {
    background-color: transparent;
    color: #FCB340;
}

.sendTestMeilBtn {
    background-color: transparent;
    width: 110px;
    height: 36px;
    border: 1px solid #FEAD0D;
    border-radius: 3px;
    color: #FCB340;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.sendTestMeilBtn:hover {
    background-color: #FEAD0D;
    color: #FFF;
}

.cancelBtn {
    background-color: #c5c5c5;
    width: 100px;
    height: 36px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
}

.cancelBtn:hover {
    background-color: transparent;
    color: #FCB340;
}

.activate_mailjet_sync_field {
    margin-bottom: 24px;
}
.mailjet_sync_options_div {
    margin: 16px 0 0 18px;
}
.mailjet_sync_comment_authors_div{
    margin-left: 20px;
}

.page_top_title {
    line-height: 40px;
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 32px;
}
.page_top_subtitle {
    line-height: 24px;
    font-size: 16px;
}
.section_title {
    font-weight: 500;
    font-size: 16px;
}
.top_descrption_helper {
    font-size: 14px;
}

.section_inner_title {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.section_inner_title_slave {
    line-height: 24px;
    margin: 0 0 16px;
    font-size: 16px;
}