@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

/**
 * Global styles and WP/bootsrap override
 */
.mj-pluginPage {
    font-family: Roboto;
    color: #555;
}
.mj-pluginPage a {
    color: #19BC9C;
}
.mj-pluginPage a:hover,
.mj-pluginPage a:focus {
    text-decoration: underline;
    color: #33D6B6;
}
.mj-pluginPage a:visited {
    text-decoration: underline;
    color: #9B59B6;
}
.mj-pluginPage b {
    font-weight: 650;
}
.mj-pluginPage p {
    margin-bottom: 24px;    
}
.mj-pluginPage p {
    max-width: 550px;
    line-height: 20px;
    font-size: 14px;
}
.mj-pluginPage input[type="text"] {
    /* font-family: Roboto; */
    width: 100%;
    max-width: 311px;
    height: 36px;
    margin-bottom: 16px;
    border: 1px solid #888;
    border-radius: 3px;
    color: inherit;
    box-shadow: none;
}
.mj-show {
    min-height: 0;
    overflow: hidden;
    transition: height 0ms ease-in 0ms, min-height 250ms ease-in 0ms;
}
.mj-hide {
    height: 0;
    overflow: hidden;
    transition: height 75ms ease-in 0ms, min-height 75ms ease-in 0ms;
}
.mj-disabled {
    opacity: .4;
    cursor: not-allowed;
}
.mj-pluginPage .form-table {
    margin-top: 0;
}
.mj-pluginPage .form-table td {
    padding: 0;
}
.mj-pluginPage .form-table td p {
    margin-top: 0;
}
.mj-pluginPage .mj-label,
.mj-pluginPage .form-table td fieldset .label {
    display: block;
    max-width: -moz-max-content;
    max-width: max-content;
    line-height: 20px;
    margin: 0 0 8px !important;
}
.mj-select-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
}
.mj-select-wrapper:before {
    content: attr(data-value);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 20px;
    padding: 8px 32px 8px 16px;
    border-radius: 3px;
    font-weight: 500;
    color: #555;
    background-color: #f2f2f2;
}
.mj-select-wrapper:after {
    content: '';
    position: absolute;
    right: 16px;
    top: calc(100% / 2);
    z-index: 2;
    display: block;
    width: 0;
    height: 0;
    border-style: solid solid none solid;
    border-width: 5px 4px 0 4px;
    border-color: #555 transparent transparent transparent;
}
.mj-select-wrapper:hover:before {
    background-color: #e5e5e5;
}
.mj-select-wrapper.mj-select-focus:before {
    background-color: #d9d9d9;
}
.mj-select-wrapper select {
    position: relative;
    z-index: 3;
    width: 312px;
    height: 36px;
    opacity: 0;
}

/* Buttons */
.mj-pluginPage .mj-btn {
    min-width: 84px;
    height: 36px;
    line-height: 20px;
    padding: 8px 16px;
    border: 1px solid currentColor;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    box-shadow: none;
}
.mj-pluginPage .mj-btn:hover,
.mj-pluginPage .mj-btn:focus,
.mj-pluginPage .mj-btn:active {
    transform: none;
    outline: 0;
    box-shadow: none;
}
.mj-pluginPage .btnPrimary,
.mj-pluginPage .btnPrimary:hover {
    border-color: transparent;
    color: white;
    background-color: #FEAD0D;
}
.mj-pluginPage .btnPrimary:hover {
    background-color: #FFBA1A;
}
.mj-pluginPage .btnPrimary:focus,
.mj-pluginPage .btnPrimary:active {
    background-color: #F1A000;
}
.mj-pluginPage .btnSecondary {
    color: #FEAD0D;
    border-color: currentColor;
}
.mj-pluginPage .btnSecondary:hover, .btnSecondary:active, .btnSecondary:focus {    
    background-color: rgba(254,173,13,0.1);
}
.mj-pluginPage .btnSmall {
    min-width: 0;
    height: 28px;
    padding: 4px 16px;
}
.mj-pluginPage .btnCancel {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    color: #888;
}
.mj-btn + .mj-btn {
    margin-left: 16px;
}

/**
* Don't break notices
*/
.mj-pluginPage .notice {
    margin: 16px 0 16px 0;
}
.mj-pluginPage .notice p {
    margin: .5em 0;
}
.mj-pluginPage .notice strong {
    font-weight: 500;
}

/**
* Override bootstrap modal styles
*/
.mj-pluginPage .modal-backdrop {
    background-color: #2D2F37;
}
.mj-pluginPage .modal-backdrop.in {
    opacity: .6;
}
.mj-pluginPage .modal.in .modal-dialog {
    transform: translate(0, calc(50vh - 50%));
    margin-top: 0;
}
.mj-pluginPage .modal-content {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
}
.mj-pluginPage .modal-header {
    display: flex;
    padding: 12px 32px 15px;
    border-top: 4px solid #FEAD0D;
    border-bottom: 1px solid #e5e5e5 !important;
}
.mj-pluginPage .modal-title {
    flex-grow: 1;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
}
.mj-pluginPage .button.close {
    font-size: 0;
    color: rgba(255, 255, 255, 0);
}
.mj-pluginPage .modal-body {
    padding: 32px;
}
.mj-pluginPage .modal-body input {
    margin-bottom: 0;
}
.mj-pluginPage .modal-footer {
    padding: 16px 32px;
}
/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.admin_page_mailjet_allsetup_page #wpwrap,
.admin_page_mailjet_user_access_page #wpwrap,
.admin_page_mailjet_subscription_options_page #wpwrap,
.admin_page_mailjet_sending_settings_page #wpwrap,
.admin_page_mailjet_connect_account_page #wpwrap,
.admin_page_mailjet_settings_page #wpwrap,
.admin_page_mailjet_initial_contact_lists_page #wpwrap,
.admin_page_mailjet_dashboard_page #wpwrap,
.toplevel_page_mailjet_settings_page  #wpwrap {
    background-color: #F2F2F2;
}
/* Error messages */
#setting-error-mailjet_message {
    margin-left: 0px;
}
/*.button.MailjetSubmit, .button.MailjetSubmit:hover, .button.MailjetSubmit:focus {
    border-color: transparent;
}*/
/**  STYLE 11 */

#availableContactListsContainerParent::-webkit-scrollbar {
    width:10px;
}
#availableContactListsContainerParent::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
}
#availableContactListsContainerParent::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}
#availableContactListsContainerParent::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

#availableContactListsContainerParent::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}
.mj-pluginPage .checkboxLabel,
.mj-pluginPage .form-table td fieldset .checkboxLabel {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    line-height: 20px;
    margin: 0 0 8px !important;
}
.mailjet_row input[type="checkbox"] {
    content: "\00a0";
    position: relative;
    top: 1px;
    display: inline-block;
    font: 16px/1em sans-serif;
    margin: 0 8px 0 0;
    padding: 0;
    height: 16px;
    width: 16px;
    /*border: 1px solid #19BC9C;*/
    border: 1px solid #888888;
    border-radius: 3px;
    box-shadow: none;
}
.mailjet_row input[type="checkbox"]:checked::before {
    margin: -1px 0 0 -2px;
    font-size: 16px;
}
.mailjet_row input[type="checkbox"]:focus {
    border:1px solid #19BC9C;
    background: #FFFFFF;
    outline:none;
}
.mailjet_row input[type="checkbox"]:checked {
    border: 1px solid #19BC9C;
    background: #33D6B6;
    content: "\2714";
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.mailjet_row input[type="checkbox"]:checked:before {
    color: #FFF;
}
#wpbody-content {
    padding-right: 20px;
}
.mainContainer {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    padding: 32px;
}
.backToDashboard {
    margin-bottom: 24px;
}
.backToDashboard a {
    display: inline-flex;
    align-items: center;
}
.backToDashboard a,
.backToDashboard a:hover,
.backToDashboard a:focus,
.backToDashboard a:active,
.backToDashboard a:visited {
    text-decoration: none;
    color: #888;
}
.backToDashboard svg {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    fill: currentColor;
}
.mailjet_row label {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.initialSettings {
    display: flex;
}
#initialSettingsForm {
    width: 359px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 24px;
}
#initialSettingsForm .form-table {
    margin-bottom: 8px;
}
#initialSettingsSubmit {
    display: block;
    width: 100%;
}
#initialSettingsForm .dont_have_account {
    margin: 24px 0 0;
}
.closeCreateList,
#subscriptionOptionsSubmit {
    float: left;
    margin-left:10px;
}
#initialSettingsHead {
    height: 48px;
    border-radius: 3px 3px 0 0;
    background-color: #23282D;
    margin-top:20px;
    left:0;
    padding:10px;
    padding-top:13px;
}
#initialSettingsDescription {
    width: 550px;
    margin-left: 50px;
}

.initialSettingsDescriptionContainer {
    display: table;
}
.initialSettingsDescriptionRow {
    display: flex;
    max-width: 526px;
    align-items: center;
    margin-bottom: 16px;
}
.initialSettingsDescriptionRow .initialSettingsTextCell {
    margin-bottom: 0;
}
.initialSettingsImageCell {
    width: 96px;
    height: 96px;
    margin-right: 30px;
}
.initialSettingsTextCell b {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}
#initialContactListsForm input[type="text"] {
    height: 36px;
    width: 311px;
    border: 1px solid #888888;
    border-radius: 3px;
}
.mjSettings {
    min-height: 450px;
    display: flex;
    align-items: stretch;
}
.mjSettings .left {
    width: 268px;
    border-right: 1px solid #e5e5e5;
}
.mjSettings .left .centered h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}
.mjSettings .right {
    max-width: 600px;
    padding: 0 32px;
}
.mjSettings .mailjet_sync_options_div {
    margin-bottom: 24px;
}
.mjSettings .settingsSubscrFldset {
    margin-bottom: 24px;
}
.mjSettings .settingsAccessFldset {
    margin-bottom: 16px;
}
.mjSettings .settingsConnectFldset {
    margin-bottom: 8px;
}
.mjSettings .settingsSendingFldset {
    margin-bottom: 16px;
    padding-left: 24px;
}
.mjSettings .settingsSendingFldset .fromFld,
.mjSettings .settingsSendingFldset .smtpFld {
    margin-bottom: 8px;
}
.mjSettings .settingsSendingFldset .smtpFld .mj-select-wrapper {
    margin-bottom: 0;
}
.mjSettings .settingsSendingFldset .smtpFld select {
    width: auto;
    min-width: 80px;
}
.mjSettings .fromFldGroup {
    display: flex;
}
.mjSettings .fromFldGroup input[type="text"] {
    margin-right: 16px;
}
.mjSettings .testEmailFldset {
    margin-bottom: 24px;
}
.mjSettings .sendTestEmailBtn {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    color: #19BC9C;
    background: transparent;
    outline: 0;
}
.mjSettings .sendTestEmailBtn:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 8px;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(45deg);
    transform-origin: center;
    vertical-align: 2px;
    transition: transform .075s ease-in;
}
.mjSettings .sendTestEmailBtn.mj-active:before {
    transform: rotate(-45deg) translateY(1px);
    transition: transform .25s ease-in;
}
.mjSettings .test_email_collapsible {
    overflow: hidden;
}
.mjSettings .test_email_collapsible label {
    margin-top: 16px !important;
}
.mjSettings .test_email_collapsible input {
    margin-bottom: 0;
}

.mjSettings .mailjet_sync_comment_authors_div .mj-select-wrapper {
    margin-bottom: 0;
}
/*May should remove 1,2,3,4,5*/
.bottom_links {
    display: flex;
    max-width: -moz-max-content;
    max-width: max-content;
    line-height: 20px;
    margin-top: 24px;
}
.bottom_links > * {
    margin-right: 24px;
}
.needHelpDiv {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.needHelpDiv img {
    margin-right: 8px;
}
.bottom_links a:hover, .bottom_links_dashboard a:hover, .bottom_links_allsetup a:hover {
    text-decoration: none;
}
.settingsMenuLink a {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    padding: 8px;
    font-weight: 500;
    color: #555;
}
.settingsMenuLink a svg {
    margin-right: 16px;
    fill: currentColor;
}
.settingsMenuLink a:hover,
.settingsMenuLink a:active,
.settingsMenuLink a:focus {
    text-decoration: none;
    color: #555;
    outline: 0;
}
.settingsMenuLink a:not(.active):hover,
.settingsMenuLink a:not(.active):active,
.settingsMenuLink a:not(.active):focus {
    background-color: #f2f2f2;
}
.settingsMenuLink a:visited {
    color: #555;
}
.settingsMenuLink a.active {
    color: #19BC9C;
}
#mailjet_subscription_options_settings {
    margin-bottom: 16px;
}

/* Contacts list display screen */
.availableContactLists {
    margin-bottom: 24px;
}
.availableContactListsContainerParent {
    width: 615px;
    max-height: 476px;
    overflow: auto;
    margin-bottom: 24px;
    border: 1px solid #E5E5E5;
}
.availableContactListsRow {
    display: flex;
    padding: 16px 24px;
}
.availableContactListsRow:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
}
.availableContactListsCountCell {
    width: 200px;
}
.availableContactListsNameCell {
     flex-grow: 1;
}

/* Create new Contact List popup */
.create_contact_list_popup {
    margin-bottom: 24px;
}
.create_contact_list_popup label { /* -2,3,4*/
    display: block;
    max-width: max-content;
    line-height: 20px;
    margin: 0 0 8px !important;
    padding-bottom: 8px;
}
#create_contact_list {
    display: flex;
    line-height: 20px;
    text-decoration: none;
    color: #19BC9C;
    cursor: pointer;
}
#create_contact_list.mj-active {
    display: none;
}
#create_contact_list img {
    height: 16px;
    margin-right: 8px;
}
#create_contact_list:hover {
    text-decoration: none;
}
.create_contact_list_fields {
    margin-bottom: 8px;
}
.create_contact_list_btns {
    display: flex;
}
.greenLink {
    color: #19BC9C;
    text-decoration: none;
}
.greenLink:hover {
    text-decoration: none;
}

.allsetupGreenLinkDiv {
    margin-top: 24px;
    text-align: center;
}
#initialContactListsForm .initialContactListsFieldset p {
    margin-bottom: 16px;
}

/* Dashboard */
.dashboard .initialSettingsMainCtn {
   display: flex;
}
.dashboard .block {
    position: relative;
    padding: 24px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.dashboard .leftCol {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 40%;
}
.dashboard .passportImage {
    flex-grow: 1;
    width: 100%;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.dashboard .rightCol {
    display: flex;
    flex-flow: row wrap;
    min-width: 500px;
    max-width: 650px;
}
.dashboard .rightCol .block {
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);
    margin: 0 0 16px 16px;
    text-align: center;
}
.dashboard .rightCol .block:nth-last-child(-n+2) {
    margin-bottom: 0;
}
.dashboard .rightCol .blockTitle {
    line-height: 24px;
    margin: 0 0 16px;
    font-size: 16px;
}
.dashboard .rightCol .blockText {
    flex-grow: 1;
}
.dashboard .rightCol img {
    width: 96px;
    height: 96px;
    margin: 0 auto 24px;
}
.dashboard .rightCol .mj-btn {
    width: 100%;
}

.allsetup_blocks {
    display: flex;
}
.allsetup .block_single {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    text-align: center;
}
.allsetup .block_single + .block_single {
    margin-left: 24px;
}
.allsetup .block_single img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 24px; bottom_links_dashboard
}
.allsetup .block_single .section_inner_title {
    margin-bottom: 16px;
}
.allsetup .block_single .blockText {
    flex-grow: 1;
}
.allsetup .block_single .mj-btn {
    display: block;
    width: 100%;
}
.bottom_links_allsetup {
    clear: left;
    left: 0;
    padding:10px;
    font-size: 14px;
}
.cancelBtn {
    background-color: #c5c5c5;
    width: 100px;
    height: 36px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left:10px;
    
    
    
    
    color: #FCB340;
}

.activate_mailjet_sync_field {
     margin-bottom: 24px;
}
.mailjet_sync_options_div {
    margin: 16px 0 0 18px;
}
.mailjet_sync_comment_authors_div{
    margin-left: 20px;
}

.page_top_title {
    line-height: 40px;
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 32px;
}
.page_top_subtitle {
    line-height: 24px;
    font-size: 16px;
}
.section_title {
    font-weight: 500;
    font-size: 16px;
}
.top_descrption_helper {
    font-size: 14px;
}

.section_inner_title {
    margin: 0 0 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.section_inner_title_slave {
    line-height: 24px;
    margin: 0 0 16px;
    font-size: 16px;
}

/**
* Pages with iframe
*/
.iframePage {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}
.iframePage .mainContainer {
    flex-grow: 1;
    position: relative;
}
.iframePage .mainContainer iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}