/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#mailjet_widget_title h2 {
    font-size: 12px;
}

.mj_checkbox_label {
    /*font-weight: bold;*/
    text-decoration: appworkspace;
    /*margin: 10px;*/
    margin-bottom: 20px!important;
    font-weight: 500!important;;
    display: inline!important;
    cursor: pointer;
}

#mjForm .form-group{
    margin-bottom: 10px!important;
}